# Python cache files
__pycache__/
*.pyc

# Virtual Environment (if you use one locally)
venv/
.venv/

# Environment Variables (CRITICAL: Do NOT commit secrets!)
.env
.env.*

# Docker specific files to ignore from Git, which are generated artifacts
# The container image build context is handled by Docker, not Git
.dockerignore

#Static files
static/
requirements_old.txt
requirements_old_working_for_email_sending.txt
latest_backup_requirements.txt

requirements_latest_working_new.txt
